@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p><a asp-page="usuarios/cadastro">Criar conta</a></p>
        <p><a asp-page="usuarios/login">Fazer login</a></p>
    </div>
